.app{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 2rem;
}



.question-area{
  width: 100vh;
}

.question-box {
  background-color: darkgray;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  width: 20vh;
}

.question-buttons {
  display: flex;
}

.question-button {
  display: flex;
  flex-direction: column;
}

.questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: darkcyan;
  color: white;

  
}

button:disabled {
  background-color: lightgray;
  color: darkgray;
}

button:disabled:hover {
  background-color: lightgray;
  color: darkgray;
  cursor: initial;
}

button:hover {
  background-color: dodgerblue;
  cursor: pointer;
}

select {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
}
